# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.pypirc
.coverage
*.cover
coverage.xml
.htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Virtual environments
.venv/
.virtualenv/
venv/
ENV/
env/
*.env
.env.*
env.bak/
venv.bak/
__pypackages__/
.pdm.toml
.pdm-python
.pdm-build/

virtualenv/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
*.log

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
nosetests.xml
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# SageMath
*.sage.py

# Rope
.ropeproject

# Spyder
.spyderproject
.spyproject

# MkDocs
/site

# IDEs & Editors
.idea/
*.iml
.vscode/
.history/
*.code-workspace

# Node / JavaScript / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/
out/

# OS and misc
.DS_Store
Thumbs.db
*.tmp
*.swp

# Project-specific
virt/
secrets.json
myenv/